[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
autopep8 = "*"
tinydb = "*"
werkzeug = "==2.0.3"
bcrypt = "*"
pyjwt = "*"
flask-cors = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
praw = "*"
imgur-python = "*"
schedule = "*"
nuitka = "*"
"proxy.py" = "*"
flask-apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.8"
